Nouvelle demande de téléchargement des données !
<br><br>
<ul>
    <li>id : <b>{{ user.id }}</b></li>
    <li>Nom : <b>{{ user.firstName }}</b></li>
    <li>Prénom : <b>{{ user.lastName }}</b></li>
    <li>Email : <b>{{ user.email }}</b></li>
    <li>Date : <b>{{ 'now' | date('d/m/Y H:i') }}</b></li>
</ul>
